@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Poppins', sans-serif;
  color: black;
}

/* NAV BAR */

nav {
  width: 95%;
  height: 7%;
  padding-top: 30px;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  color: #ffa500;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 3px 15px;
}

nav ul li:nth-last-child(1) {
  background: #000;
  border-radius: 20px;
  padding: 5px 20px;
}

nav ul li:nth-last-child(1) a {
  color: white;
}

nav ul li:nth-last-child(1) a::after {
  background-color: black;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}

nav ul a {
  width: max-content;
  font-size: 13px;
  font-weight: 550;
  position: relative;
  margin: 100px auto;
}


nav ul a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2.5px;
  width: 100%;
  left: 0;
  background-color: orange;
  transition: .3s;
  transition-timing-function: ease-in-out;
  transform: scale(0);
}

nav ul a:hover::after {
  color: white;
  transform: scale(1);
}

nav .bi-three-dots {
  display: none;
}

/* NAV BAR CLOSE  */

/* PHOTO FRAME */

h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 550;
  margin-right: 50px;
  color: #5b92e5;
}

h2 {
  text-align: center;
  color: rgb(32, 34, 70);
  font-size: 45px;
  margin-top: 20px;
}

.int {
  text-align: center;
  margin-top: 20px;
}

.main {
  padding-block: 60px;
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  list-style: none;
  height: 60%;
  width: 70%;
  margin-left: 235px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.gallery-item:nth-child(3) {
  grid-area: 1 / 2 / 3 / 3;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------- IMAGE SLIDER */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black;s */
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url('Images/1.jpeg');
}
.card[for="c2"] {
  background-image: url('Images/2.jpeg');
}
.card[for="c3"] {
  background-image: url('Images/5.webp');
}
.card[for="c4"] {
  background-image: url('Images/4.jpeg');
}
.card[for="c5"] {
  background-image: url('Images/3.jpeg');
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  background: #1B4242;
  height: 300px;
}

footer .txt h2 {
  color: white;
}
footer .txt p {
  color: white;
  padding-top: 20px;
}

footer .contact button {
  color: white;
  border: 2px solid white;
  border-radius: 60px;
  background: #1B4242;
  cursor: pointer;
  padding: 15px;
  transition: .3s linear;
  font-size: 20px;
  font-weight: 500;
  width: 130%;
}

footer .contact button:hover {
  background: rgb(168, 179, 240);
}